body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

/* for the nav bar*/
#cover {
  height:900px;
  position: relative;
  top: -75px;
  width: 100%;
  background: url("http://www.wallpapermade.com/images/wallpapers/originals/plane-take-off-in-the-morning-wallpaper-1958.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
}

/*#search-bar{
  text-align: left;
  font-family:'Abel';
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  padding-left: 10px;
  margin-left: 200px;
}*/

form {
  margin:10px auto;
}

.search {
  padding:8px 15px;
  background:rgba(50,50,50 0.2);
  border:0px solid #dbdbdb;
}

.search-button {
  position: relative;
  padding:6px 15px;
  left: -8px;
  border:2px solid;
  background-color:#207cca;
  color:#fafafa;
  background-image: -webkit-linear-gradient(#20b2aa, #00fa9a);
  font-family:'Amatic SC'
}

.search-button:hover {
  background-color:#fafafa;
  color:#D3D3D3;
}

.navigation {
  background-color: rgba(245, 245, 245, 0.85);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#logo {
  font-family:'Shadows Into Light';
  font-size:40px;
  font-weight:600;
  color: #001f3f;
}
#logo:hover {
}
ul {
  padding: 0;
}
li {
  color:#14213D;
  display: inline-block;
  font-family:'Abel', sans-serif;
  font-size:20px;
  margin: 20px 20px;
  text-transform: uppercase;
  font-weight: 200;
  padding:5px;
}

video {
  background-color: #000000;
  border: 2px solid black;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width:70%;
}

h1 {
  color: #Fff;
  font-family: 'Amatic SC', cursive;
  font-size:72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

h2 {
  color: #000;
  font-family: 'Yellowtail', cursive;
  font-size:30px;
  font-weight: 200;
  text-align: center;
}


h3 {
  color:#14213D;
  font-family:'Abel', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
h4 {
  color: #000;
  font-family: 'Yellowtail', cursive;
  font-size:25px;
  font-weight: 100;
  text-align: center;
}
p {
  color: #250;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  font-weight:500;
}
a {
  text-decoration: underline;
  font-size:30px;
}

a {
  display:
}
@media only screen and (min-device-width: 375px)  and (max-device-width:667px)
{ #cover {
    background-size: cover;
    background-attachment: scroll;
  }
  .search-button {
    width:150px;
    margin-left:2px;
  }
  li {
    padding:0px;
    font-size:12px;
  }
}

#id {
  background-color :yellow;
}

.btn {
  background-color:#14213D;
  color: #FFF;
  font-family:'Amatic SC', cursive;
  font-size: 26px;
  padding:14px;
  background-image: -webkit-linear-gradient(#20b2aa, #00fa9a);
}

img:hover{
  opacity:.3;
}
.btn:hover {
  box-shadow: 1px 1px grey;
  border: 2px solid #687D60;
}

.destinations {
  background: #EEEFF1;
  box-sizing: border-box;
  width:95%;
  text-align: center;
  margin: 20px auto;
  padding: 20px 0px;
}
.destination {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: center;
  width: 40%;
}
.destination img {
  width:100%
}

.active {
  opacity:.5;
  background-color: #D3D3D3;
  padding: 5px;
}

.contact-btn a {
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 8px 18px;
  border: 1px solid #204156;
  font-family: 'Amatic SC';
  float:right;
}

.active_btn {
  top:2px;
}
